@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background:
    radial-gradient(circle at top left, #0f5132, transparent 30%),
    radial-gradient(circle at bottom right, #064e3b, transparent 30%),
    #06130f;

  color: white;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

.glass {
  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(16px);
  border: 1px solid rgba(255,255,255,0.1);
  box-shadow: 0 8px 32px rgba(0,0,0,0.2);
}
@keyframes slowZoom {

  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.12);
  }
}